@model VideoGame

<h1>Video Game: @Model.Name- @Model.Studio</h1>
<hr />
<h2>People Who Played This Video Game: </h2>
<ul>
	@foreach (Review vgRev in Model.Reviews)
	{
		<li>User: @vgRev.User </li>
		<li>Rating: @vgRev.Rating - @vgRev.Comment</li>
	}
</ul>